.header{
  padding: 5px;

}
.footer {
  padding: 5px;
}

.body{
  padding: 5px;
}

a.titlelink{
  color:#efefef;
  font-family: Verdana,Arial;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

a.titlelink:hover{
  text-decoration: none;
}

table {
margin-left:auto; 
margin-right:auto;
border-collapse:collapse;

}

table, td {
  color: #000;
  line-height: 1.2em;
  border: 1px solid #fefefe;
}


a {
  color: #000;
  font: 90%/135% "Verdana, Arial ,Lucida Grande", "Bitstream Vera Sans", sans-serif;
}
a:hover{
  text-decoration: none;
}

p {
  margin-bottom: 1.0em;
  font: 90%/135% "Verdana, Arial ,Lucida Grande", "Bitstream Vera Sans", sans-serif;
}


th, td {
  padding: 5px;
vertical-align:bottom;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Verdana,Arial;
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
  line-height: 1.5;
}

.block h2 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

ul, ol {
  padding-left: 2.5em;
  margin-bottom: 1.5em;
}

li {
  font: 90%/135% "Verdana, Arial ,Lucida Grande", "Bitstream Vera Sans", sans-serif;
}

ul.links li {
  padding-left: 0;
}

li.leaf,
li.expanded,
li.collapsed,
ul.menu li {
  padding: 0;
  margin: 0;
}


