#newsemail{
font: 80%/135% "Verdana, Arial ,Lucida Grande", "Bitstream Vera Sans", sans-serif;
padding: 20px;
}
#newslist{
font: 90%/135% "Verdana, Arial ,Lucida Grande", "Bitstream Vera Sans", sans-serif;
}

hr{
border-top: 1px dashed #ed7703;
color: #ed7703;
background-color: #ed7703;
height: 1px;
width: 100%;
text-align: left;
}
